In [9]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

pt_data = pd.read_csv('data.csv')
X = pt_data.drop(columns=['portret'])
y = pt_data['portret']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

model = DecisionTreeClassifier()
model.fit(X_train, y_train)

predictions = model.predict([[0,1,0,0,0]])
# predictions = model.predict(X_test)
# score = accuracy_score(y_test, predictions)
# score
predictions[0]

'portret (6)'

In [29]:
pt_data

    age  gender  appearance  cradit rating  build       portret
0     0       1           1              1      1   portret (1)
1     1       0           1              1      0   portret (2)
2     2       1           1              1      1   portret (3)
3     1       1           1              2      1   portret (4)
4     1       1           0              1      1   portret (5)
5     0       1           2              1      0   portret (6)
6     0       0           2              2      0   portret (7)
7     1       0           1              1      1   portret (8)
8     0       0           2              1      1   portret (9)
9     0       1           1              1      1  portret (10)
10    1       0           1              2      1  portret (11)
11    1       0           2              2      1  portret (12)
12    1       1           2              2      1  portret (13)
13    1       1           2              2      1  portret (14)
14    1       0           2              2      1  portret (15)
15    1       0           1              1      2  portret (16)
16    1       0           1              0      2  portret (17)
17    1       1           2              1      2  portret (18)
18    0       0           2              1      2  portret (19)
19    1       0           2              2      1  portret (20)
20    1       1           1              0      2  portret (21)
21    1       1           2              2      2  portret (22)
22    1       1           2              2      2  portret (23)
23    1       1           1              0      2  portret (24)
24    1       0           2              2      1  portret (25)
25    1       0           1              2      1  portret (26)
26    1       0           1              1      1  portret (27)
27    1       1           1              0      2  portret (28)
28    1       1           0              0      2  portret (29)
29    2       0           0              1      2  portret (20)

In [38]:
from sklearn import tree
tree.export_graphviz(model, out_file='graph.dot', 
                     feature_names=['age','gender', 'appearance', 'cradit rating', 'build'], 
                     class_names=sorted(y.unique()), 
                     label='all', 
                     rounded=True,
                     filled=True)